.header-container {
    display: flex;
    align-items: center;
    margin: 2vh 2.5vw;
    .logo-container {
        .logo-img {
            height: auto;
            max-width: 250px;
            width: 220px;
        }
    }

    .search-bar-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .search-input {
            width: 25vw;
            height: 35px;
            text-indent: 20px;
            font-size: 15px;
            border-radius: 0;
            border: 1px solid var(--light-gray);
        }

        .search-btn {
            width: 40px;
            height: 40px;
            border: 0;
            transition: 0.3s;
            .search-icon {
                width: 16px;
                height: 16px;
            }
        }

        .search-btn:hover {
            cursor: pointer;
            background-color: var(--dark-yellow);
            color: white;
        }
    }

    .header-btns {
        display: flex;
        justify-content: center;
        margin-left: 2vw;

        .spn-fav {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spn-fav:hover {
            cursor: pointer;
        }

        app-cart {
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding-left: 2vw;
        }

        .badge-img {
            margin-right: 3px;
        }
    }
}

@media only screen and(max-width:600px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-container {
            width: unset;
            .logo-img {
                width: 60vw;
                height: 7vh;
            }
        }

        .search-bar-container {
            margin: 2vh 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .search-input {
                width: 80%;
                height: 33px;
            }

            .search-btn {
                height: 40px;
                border: 1px solid var(--light-yellow);

                .search-icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .badge-img {
            display: none;
        }

        app-cart {
            margin: 0;
        }
    }
}
