<div class="cart-container">
    <img (click)="openDialog()" src="../../assets/svg/shopping-cart.svg" alt="Shopping cart" class="cart-img icon-size">
    <span (click)="openDialog()" class="cart-info">Cart (${{cart.cartPrice}})</span>
</div>

<div class="cart-dialog" [ngClass]="{'dialog-active':isOpened}">
    <div class="item-container">
        <h2>Your cart contains</h2>
        <ul class="cart-items-list">
            <li *ngFor="let item of cart.cartItems">{{item}}</li>
        </ul>
        <button (click)="closeDialog()" class="close-dialog">Close</button>
    </div>
</div>