.icon-btn {
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--white-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.icon-btn:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.filled-btn {
    background-color: var(--light-gray);
}

.recipe-items-container {
    border: 1px solid var(--white-gray);
    text-align: center;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 0 2.5vw;
    margin-bottom: 3vh;
}

.dialog-container {
    display: none;
}

.description {
    color: var(--gray);
    font-size: 15px;
    line-height: 1.8;
    white-space: break-spaces;
}

.featured-item-title {
    font-size: 24px;
    margin: 1.5vh 0;
    font-weight: bold;
}

.tags {
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.tag-svg {
    position: relative;
    top: -2px;
    margin-right: 10px;
    height: 17px;
    width: 17px;
}

@media only screen and(max-width: 600px) {
}
