.icon-btn {
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--white-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn:hover {
    cursor: pointer;
}

.filled-btn {
    background-color: var(--light-gray);
}

.recipe-items-container {
    border: 1px solid var(--white-gray);
    text-align: center;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 0 2.5vw;
    margin-bottom: 3vh;
}

.dialog-container {
    display: none;
}

@media only screen and(max-width: 600px) {
}
