.nav-container {
    display: flex;
    margin: 2vh 2.5vw;

    .nav-bar {
        padding-inline-start: 2vw;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px solid var(--light-border);
        border-bottom: 1px solid var(--light-border);

        li {
            margin-right: 3.5vw;
            margin-top: 2vh;
            margin-bottom: 2.5vh;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: var(--nav-font);
                font-weight: bold;
                transition: 0.3s;
            }

            a:hover {
                font-size: 15px;
            }

            a:visited,
            a:link {
                color: var(--dark-gray);
            }
        }
    }

    .starred::after {
        color: var(--light-yellow);
        content: var(--star-content);
        position: absolute;
        margin-top: -8px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-container {
        display: none;
    }
}
