/* You can add global styles to this file, and also import other style files */

html {
    font-family: sans-serif;
}

:root {
    --dark: #2c2b25;
    --darker: #060606;
    --dark-gray: #595954;
    --light-gray: #adadad;
    --gray: #817e7f;
    --white-gray: #f3f3f3;
    --white: #ffffff;
    --shadow: 5px -5px 20px rgb(161, 161, 161);
    --font-size: 14px;
    --title: 35px;
    --tag: 14px;
    --light-border: rgb(218, 215, 215);
    --light-yellow: #fee86d;
    --dark-yellow: #eeda6a;
    --star-content: "\2605";
    --nav-font: 14px;
}

.icon-size {
    width: 16px;
    height: 16px;
}

.filled-btn {
    background-color: var(--light-gray);
}

@media only screen and(max-width: 600px) {
    .slick-next,
    .slick-prev {
        display: none !important;
    }
}
