.favourite-btn {
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white-gray);
}

.favourite-btn:hover {
    cursor: pointer;
}

.filled-btn {
    background-color: var(--light-gray);
}
