.page-container {
    margin: 0 2.5vw;
    display: flex;
    .filters-container {
        width: 35%;

        .featured-box {
            margin-bottom: 3vh;
        }

        .checkbox-labels {
            text-transform: capitalize;
        }

        .slide-container {
            width: 100%; /* Width of the outside container */
            margin-bottom: 3vh;

            .filter-btn {
                color: black;
                text-decoration: underline;
                transition: 0.3s;
            }

            .filter-btn:hover {
                color: green;
                cursor: pointer;
            }

            .slider-range {
                -webkit-appearance: none;
                width: 100%;
                height: 10px;
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: 0.2s;
                transition: opacity 0.2s;
            }

            .slider-range::before {
                background: black;
            }

            .slider-range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: black;
                cursor: pointer;
            }

            .slider-range::-moz-range-thumb {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: black;
                cursor: pointer;
            }

            .range-content {
                display: flex;
                justify-content: space-between;
            }
        }

        .switch {
            position: relative;
            display: flex;
            width: 30px;
            height: 17px;
        }
    }
    .items-container {
        width: 100%;
        margin: 2vh 0;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}

@media only screen and(max-width: 600px) {
    .page-container {
        display: flex;
        flex-direction: column;

        .filters-container {
            width: 100%;

            .filter-container {
                margin-right: 1vw;
            }
            .filter-inputs-container {
                display: flex;
                flex-flow: wrap;
            }
        }
    }
}
