<div class="page-container">
    <div class="filters-container">
        <p class="description">Choose a category result to narrow shop search results:</p>
        <h4>By price:</h4>
        <div class="slide-container">
            <input type="range" min="0" [max]="priceMax" (change)="filterItems()" (input)="setValue($event)"
                [value]="priceLimit" class="slider-range" id="myRange">
            <div class="range-content">
                <span class="description">Price 0$-{{priceLimit}}$</span>
            </div>

        </div>

        <h4>By featured:</h4>
        <div class="featured-box">
            <input [(ngModel)]="isFeatured" (change)="filterItems()" type="checkbox" id="featured" name="featured">
            <label for="featured">Featured</label>
        </div>

        <h4>By category:</h4>
        <div class="filter-inputs-container">
            <div class="filter-container" *ngFor="let category of categories">
                <input type="checkbox" (change)="filterItems()" [(ngModel)]="category.isChecked" [id]="category.name"
                    [name]="category.name">
                <label class="checkbox-labels" [for]="category.name">{{category.name}}</label>
            </div>
        </div>

    </div>
    <div class="items-container">
        <h2 *ngIf="currentItems.length == 0">No items found based on your criteria</h2>
        <app-product-item class="item" *ngFor="let item of currentItems" [recipe]="item"></app-product-item>
    </div>
</div>